{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
	function validation()
		{
			var alpha=/^[a-zA-Z]+$/;
			var num=/^[0-9]+$/;

			var address=document.getElementById("address");
			var phone=document.getElementById("phone");
			var country=document.getElementById("country");
		
			if (address.value.length ==0)
			{
				alert("enter the address");
				address.focus();
				return false;
			}
			else if(!address.value.match(alpha))
			{
				alert("Invalid entry");
				address.focus();
				return false;
			}
			else if(phone.value.length ==0)
			{
				alert("Enter the Phone number");
				phone.focus;
				return false;
			}
			else if(!phone.value.match(num))
			{
				alert("Ivalid entry");
				phone.focus();
				return false;
			}
			else if(country.value.length ==0)
			{
				alert("Select the country");
				country.focus();
				return false;
			}
			else
			{
				return true;
			}
		}
</script>
			



<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<form method="post" action="{% url 'buyerRecoveryPasswordAction' %}">
			{% csrf_token %}
			<div class="row">
					<input class="form-control" type="hidden" name="username" value="{{data}}"/>
				<div class="col-md-12">
					Address<input class="form-control" type="text" id="address" name="address"/>
				</div>
				<div class="col-md-12">		
					Phone<input class="form-control" type="text" id="phone" name="phone"/>
				</div>
				<div class="col-md-12">
					Country	
					<select name="country" id="country" >
						<option value="">--select--</optoin>
						<option value="india">India</option>
						<option value="china">China</option>
						<option value="america">America</option>
					</select>
				</div>
				<div class="col-md-12">
				<button class="send" onclick="return validation()" >Submit</button>
				</div>
			</div>
			</form>
			</div>
		</div>
	</div>
<div>
{% endblock %}

			
		
		
