{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
	function validation()
		{
			var alpha=/^[a-zA-Z0-9]+$/;
			

			var password=document.getElementById("password");
			var ChangePassword=document.getElementById("ChangePassword");

			if (password.value.length ==0)
			{
				alert("enter the password");
				password.focus();
				return false;
			}
			else if(!password.value.match(alpha))
			{
				alert("Invalid entry");
				password.focus();
				return false;
			}
			
			if (ChangePassword.value.length ==0)
			{
				alert("enter the password");
				ChangePassword.focus();
				return false;
			}
			else if(!ChangePassword.value.match(alpha))
			{
				alert("Invalid entry");
				ChangePassword.focus();
				return false;
			}
		}
</script>


<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<form method="post" action="{% url 'buyerChangePasswordAction' %}">
			{% csrf_token %}
			<div class="row">
                        	<div class=" col-md-12 ">
				Username<input class="form-control" type="text" id="username" name="username" value="{{data}}" readonly="true"/>
				</div>
				<div class="col-md-12">
				Password<input class="form-control" type="password" id="password" name="password" placeholder="Enter the new password"/>
				</div>
				<div class="col-md-12">
				Confirm Password<input class="form-control" type="password" id="ChangePassword" name="ChangePassword" placeholder="Enter the password"/>
				</div>
				<br>
				<div class="col-md-12">
				<button class="send" onclick="return validation()" >Submit</button>
				</div>
			</div>
			</form>
			</div>
		</div>
	</div>
</div>
{% if msg %}
	<script>alert('{{msg}}')</script>
{% endif %}
{% endblock %}
