{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
	function validation()
		{
			var alpha=/^[a-zA-Z]+$/;

			var username=document.getElementById("username");
			
			if (username.value.length == 0)
			{
				alert("Enter the username");
				username.focus();
				return false;
			}
			else if(!username.value.match(alpha))
			{
				alert("Invalid Entry");
				username.focus();
				return false;
			}
			else
			{
				return true;
			}
		}
</script>


<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<form  method="post" action="{% url 'forgotPasswordAction' %}">
			{% csrf_token %}
			<div class="row">
                        	<div class=" col-md-12 ">
				Username<input class="form-control" type="text" id="username" name="username"/>
				</div>
				<div class=" col-md-12 ">
				<button class="send" onclick="return validation()">Submit</button>
				</div>
			</div>
			</form>
			</div>
		</div>
	</div>
</div>
{% if msg %}
	<script>alert('{{msg}}')</script>
{% endif %}
{% endblock %}